<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0b1628">
<meta name="author" content="Ritvik Kharkar">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}ritvikmath{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
{% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}">{% endif %}
<link rel="icon" type="image/jpeg" sizes="900x900" href="{{ site.favicon | relative_url }}">
